*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea

# exclude too large file, can unzip compressed version
data/flink_commits.json

target